<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_rosbag_loader" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/zz_rovio.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/zz_cheerios.yaml"/>
  <param name="rosbag_filename" value="/home/kdq/Workspace/ZeroZero/CheeriosLog/test/20210122/test_zvel_update/t1/dataset.bag"/>
  <param name="imu_topic_name" value="/imu"/>
  <param name="cam0_topic_name" value="/camera/image_raw"/>
  <param name="rosbag_percent" value="0.0" />
  <param name="record_odometry" value="true" />
  <param name="record_extrinsics" value="true" />
  <!-- param name="reset_trigger" value="3.0" /this for reset interval times--> 
  </node>
</launch>